<h1><%=title%>: <%=category.name%></h1>
<p>Do you really want to delete this category?</p>

<form
	action=""
	method="POST"
>
	<label for="category">
		<input
			type="hidden"
			name="category"
			value="<%=category.name%>"
			id="category"
			required
		/>
	</label>
	<button type="submit">Delete</button>
</form>
