<!DOCTYPE html>
<html>
	<head>
		<title>a</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css"
		/>
	</head>
	<body>
		<%-include('header')%>
		<main><%-include('navigation')%><%-body%></main>
		<%-include('footer')%>
	</body>
</html>
