<aside>
	<nav>
		<ul>
			<li><a href="/"> Home</a></li>
			<li><a href="/items"></a>Items</li>
			<li><a href="/categories">Categories</a></li>
			<li><a href="/bundles"></a>Bundles</a></li>
		</ul>
	</nav>
</aside>
